{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "tabWidth": 2,
  "endOfLine": "auto",
  "trailingComma": "all",
  "printWidth": 80,
  "importOrder": [
    "^(@nestjs)",
    "<THIRD_PARTY_MODULES>",
    "^@repo/(.*)$",
    "^@/(.*)$",
    "^#(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": [
    "typescript",
    "classProperties",
    "decorators-legacy"
  ]
}
